body { 
    font-family: sans-serif; 
    background-color: #f8f8ff;
}

.headerdiv {
    border: solid #444444 2pt;
    display: inline-block;
    padding: 0pt;
    background-color: white;
    border-top-left-radius: 0pt;
    border-bottom-right-radius: 0pt;
    border-top-right-radius: 15pt;
    border-bottom-left-radius: 15pt;
    background-color: #dddddd; 
    margin-bottom: 4pt;
}
.headerimg {
    height: 150px;
    display: block;
    margin: -1px;
}
.uploadform {
    border: solid #444444 2pt;
    display: inline-block;
    padding: 10pt;
    background-color: white;
    border-top-left-radius: 0pt;
    border-bottom-right-radius: 0pt;
    border-top-right-radius: 15pt;
    border-bottom-left-radius: 15pt;
}
.fileinfo {
    font-family: sans-serif;
    font-size: 10pt;
}
.filediv {
    display: inline-block; 
    border: 1pt solid lightgray; 
    padding: 2pt;
}
.parcdiv_top {
    border-bottom: 2pt solid lightgray; 
    padding-top: 8pt;
    margin: 4pt;
    margin-left: -2pt;
    margin-right: -2pt;
}
.parcdiv {
    display: block; 
    border-bottom: 2pt solid lightgray; 
    padding: 8pt;
    margin: 4pt;
    margin-left: -2pt;
    margin-right: -2pt;
}
.parcdiv_description {
    font-size: 10pt;
    color: gray;
}
.versiondiv {
    font-size: 10pt; 
    text-align: right;
    color: lightgray;
    padding-top: .5em;
}
.statusimage {
    background-color: white;
    border: solid lightgray 1pt;
    padding: 4pt;
    font-weight: bold;
}
.button {
    font-size: 12pt;
}
.bigbutton {
    font-size: 14pt;
}
.statustext_good {
    color: darkgreen;
    background-color: lightgreen;
    margin-top: 1em;
    margin-bottom: 1em;
    padding:.5em;
    box-shadow: 3px 3px 10px gray;
}
.statustext_bad {
    color: darkred;
    background-color: lightpink;
    margin-top: 1em;
    margin-bottom: 1em;
    padding:.5em;
    box-shadow: 3px 3px 10px gray;
}
.statustext_neutral {
    color: gray;
    margin-top: 1em;
    padding:.5em;
}
.mninote {
    padding-left: 10pt;
    padding-right: 10pt;
    padding-top: 5pt;
    width: 100%;
    font-size: 10pt;
    color: gray;
}
