body { 
    font-family: sans-serif; 
}
.uploadform {
    border: solid black 1pt;
    display: inline-block;
    padding: 10pt;
}
.fileinfo {
    font-family: sans-serif;
    font-size: 10pt;
}
.filediv {
    display: inline-block; 
    border: 1pt solid lightgray; 
    padding: 2pt;
}
.parcdiv {
    display: block; 
    border: 1pt solid gray; 
    padding: 8pt;
    margin: 4pt;
}
.versiondiv {
    font-size: 10pt; 
    text-align: right;
    color: lightgray;
    padding-top: .5em;
}
.button {
    font-size: 12pt;
}
.statustext_good {
    color: darkgreen;
    background-color: lightgreen;
    margin-top: 1em;
    padding:.5em;
}
.statustext_bad {
    color: darkred;
    background-color: lightpink;
    margin-top: 1em;
    padding:.5em;
}
.statustext_neutral {
    color: gray;
    margin-top: 1em;
    padding:.5em;
}
